server:
  port: 8888
spring:
    profiles:
    active: native, git
  security:
    user:
      name: megaman
      password: zero
  application:
    name: config-service
  cloud:
    config:
      server:
        health:
          repositories:
            service-dev:
              name: service-dev-custom
              profiles: dev
        
        git:
          uri: ${REPO_URI}
          force-pull: true
          
          # username: paco
          # password: megoma
          timeout: 4
          search-paths:
          - '{application}'